PORT=3000
MONGO_URL=mongodb://localhost:27017/kyTz0kyRCiZudivEfVWd

JWT_AUDIENCE=https://example.com
JWT_SECRET=secretkey

MAILER_HOST=${MAILER_USERNAME}
MAILER_PORT=${MAILER_PORT}
MAILER_USERNAME=${MAILER_USERNAME}
MAILER_PASSWORD=${MAILER_PASSWORD}

OTP_SECRET=secretkey